PORT=<SERVER PORT>
DATABASE_URL=<mysql://user:password@localhost:3306/dbname>
ALLOWED_ORIGINS=<COMMA_SEPARATED_URLS>
JWT_SECRET=<JWT_SECRET>

CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>